*
{
	box-sizing: border-box;
}
/*header part*/
header{
	background-color: lightgrey;
	font-family: lora;
}
}
.navbar-brand{
	padding: 10px;
}
.navbar-brand h1{
	color: black;
	font-size: 1.5em;
	text-transform: uppercase;
  	text-shadow: 1px 1px 1px #222;
  	margin-top: 0;
  	margin-bottom: 0;
  	font-family: helvica;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration:none;
}
.container{
	margin:0px;
	padding: 0;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #951c49;
	text-align: center;
}
#nav-list >li{
	text-decoration: none;
}


/*end of header*/
/*content*/
#chicken, #beef, #sushi{
	background-color: lightgrey;
}
/*end of content*/

@media(max-width: 767px){
	.navbar-toggler{
		border-color: black;
		background-color: white;
	}
}